<%= bootstrap_form_for(confirmation_email) do |f| %>
  <% if confirmation_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(confirmation_email.errors.count, "error") %> prohibited this confirmation_email from being saved:</h2>

      <ul>
      <% confirmation_email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :subject %>
    <%= f.text_field :subject %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content %>
  </div>
  <br>
  <div class="actions" style="text-align:center;">
    <%= f.submit %>
  </div>
  <br>
<% end %>
