<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @confirmation_email.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @confirmation_email.content.html_safe %>
</p>

<div style="text-align:center;">
<%= link_to 'Edit', edit_confirmation_email_path(@confirmation_email), class:"btn btn-warning" %>
<%= link_to 'Back', confirmation_emails_path, class:"btn btn-danger" %>
</div>
</div>
<br>