<div class="container">
<p id="notice"><%= notice %></p>

<h1>Welcome Emails</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Subject</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @welcome_emails.each do |welcome_email| %>
      <tr>
        <td><%= welcome_email.subject %></td>
        <td><%#= welcome_email.content.html_safe %></td>
        <td><%= link_to 'Show', welcome_email, class:"btn btn-info" %></td>
        <td><%= link_to 'Edit', edit_welcome_email_path(welcome_email), class:"btn btn-warning" %></td>
        <td><%= link_to 'Destroy', welcome_email, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if(@welcome_emails.first.nil?) %>
<%= link_to 'New Welcome Email', new_welcome_email_path, class: "btn btn-outline-primary btn-lg btn-block" %>
<% end%>
</div>
<br>