<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @welcome_email.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @welcome_email.content %>
</p>

<%= link_to 'Edit', edit_welcome_email_path(@welcome_email) %> |
<%= link_to 'Back', welcome_emails_path %>
