<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @welcome_email.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @welcome_email.content.html_safe %>
</p>

<div style="text-align:center;">
<%= link_to 'Edit', edit_welcome_email_path(@welcome_email), class:"btn btn-warning" %>
<%= link_to 'Back', welcome_emails_path, class:"btn btn-danger"  %>
</div>
</div>
<br>