<nav class="navbar navbar-toggleable-md navbar-light bg-faded" id="main_nav_bar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <%=link_to image_tag("logo.png" , class: "navbar-brand", id: "main_nav_bar_brand_img") %>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto" id="main_nav_bar_content_ul">
		<li class="nav-item active main_nav_bar_content_li">
			<%= link_to "Home", emuseum_home_url, class: "nav-link"%>
		</li>
		<li class="nav-item active main_nav_bar_content_li">
			<%= link_to "Background", emuseum_background_url, class:"nav-link" %>
		</li>
		<li class="nav-item active main_nav_bar_content_li">
			<%= link_to "News", emuseum_news_url, class: "nav-link" %>
		</li>
		<li class="nav-item main_nav_bar_content_li">
			<%= link_to "Index", "#", class:"nav-link" %>
		</li>
		<li class="nav-item main_nav_bar_content_li">
			<%= link_to "Subscription", new_subscription_url, class:"nav-link" %>
		</li>
    </ul>
  </div>
</nav>