<div class="container">
<p id="notice"><%= notice %></p>

<h1>Reject Emails</h1>

<table  class="table table-responsive">
  <thead>
    <tr>
      <th>Subject</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reject_emails.each do |reject_email| %>
      <tr>
        <td><%= reject_email.subject %></td>
        <td><%#= reject_email.content.html_safe %></td>
        <td><%= link_to 'Show', reject_email, class:"btn btn-info"  %></td>
        <td><%= link_to 'Edit', edit_reject_email_path(reject_email), class:"btn btn-warning"  %></td>
        <td><%= link_to 'Destroy', reject_email, class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if(@reject_emails.first.nil?) %>
<%= link_to 'New Reject Email', new_reject_email_path, class: "btn btn-outline-primary btn-lg btn-block" %>
<% end %>
</div>
<br>