<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>News</h1>

      <% @news.each do |news| %>
          <h4><%= news.title %></h4>
          <br>
          <%= news.content.html_safe %>
          <%= link_to 'Show', news %>
          <%= link_to 'Edit', edit_news_path(news) %>
          <%= link_to 'Destroy', news, method: :delete, data: { confirm: 'Are you sure?' } %>
          <hr>
          <br>
          <br>
      <% end %>

  <br>
  <%= link_to 'Write more news', new_news_path %>
  <br>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @news %>
    </div>
    <%= will_paginate @news, :container => false %>
  </div>    
  
</div>
