<div class="container">
  <p id="notice"><%= notice %></p>

  <%unless @news.empty? %>
      <% @news.each do |news| %>
        <h4><%= news.title %></h4>
        <%= news.content.html_safe %>
        <br><br>
      <% end %>
  <div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @news %>
    </div>
    <%= will_paginate @news, :container => false %>
  </div>    

  <%else%>
  <p> We are updating news </p>
  <%end%>
  
</div>
