<div class="container" id="div_news">
<p id="notice"><%= notice %></p>

<h4>
  <%= @news.title %>
</h4>

<p>
  <%= @news.content.html_safe %>
</p>

<% if(admin_signed_in?) %>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
<% else %>
<%= link_to 'Back', emuseum_news_url %>
<% end %>
</div>