<div class="container" id="div_news">
<p id="notice"><%= notice %></p>

<h4>
  <%= @news.title %>
</h4>
<p id="date"><%= @news.created_at.strftime("%d %b %Y (%a)") %></p>
<%= image_tag @news.title_image.url, class: "img-fluid rounded mx-auto d-block", style: "width: 500px; height: 300px;"%>
<p>
  <%= @news.content.html_safe %>
</p>

<% if(admin_signed_in?) %>
<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
<% else %>
<%= link_to 'Back', emuseum_news_url %>
<% end %>
</div>