<p id="notice"><%= notice %></p>

<h1>Unblock Emails</h1>

<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @unblock_emails.each do |unblock_email| %>
      <tr>
        <td><%= unblock_email.subject %></td>
        <td><%= unblock_email.content.html_safe %></td>
        <td><%= link_to 'Show', unblock_email %></td>
        <td><%= link_to 'Edit', edit_unblock_email_path(unblock_email) %></td>
        <td><%= link_to 'Destroy', unblock_email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if(@unblock_emails.first.nil?) %>
<%= link_to 'New Unblock Email', new_unblock_email_path %>
<% end %>