<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @block_email.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @block_email.content.html_safe %>
</p>

<div style="text-align:center;">
<%= link_to 'Edit', edit_block_email_path(@block_email), class:"btn btn-warning" %>
<%= link_to 'Back', block_emails_path, class:"btn btn-danger" %>
</div>
</div>
<br>