<p id="notice"><%= notice %></p>

<p>
  <strong>Org name thai:</strong>
  <%= @subscription.org_name_thai %>
</p>

<p>
  <strong>Org abbr thai:</strong>
  <%= @subscription.org_abbr_thai %>
</p>

<p>
  <strong>Org name eng:</strong>
  <%= @subscription.org_name_eng %>
</p>

<p>
  <strong>Org abbr eng:</strong>
  <%= @subscription.org_abbr_eng %>
</p>

<p>
  <strong>Type of org private sector:</strong>
  <%= @subscription.type_of_org_private_sector %>
</p>

<p>
  <strong>Type of org government sector:</strong>
  <%= @subscription.type_of_org_government_sector %>
</p>

<p>
  <strong>Type of org education institute:</strong>
  <%= @subscription.type_of_org_education_institute %>
</p>

<p>
  <strong>Type of org other:</strong>
  <%= @subscription.type_of_org_other %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @subscription.street_address %>
</p>

<p>
  <strong>Tambon:</strong>
  <%= @subscription.tambon %>
</p>

<p>
  <strong>Amphur:</strong>
  <%= @subscription.amphur %>
</p>

<p>
  <strong>Province:</strong>
  <%= @subscription.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @subscription.postal_code %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @subscription.telephone %>
</p>

<p>
  <strong>House in temple:</strong>
  <%= @subscription.house_in_temple %>
</p>

<p>
  <strong>House in local museum:</strong>
  <%= @subscription.house_in_local_museum %>
</p>

<p>
  <strong>House in government agency or uni:</strong>
  <%= @subscription.house_in_government_agency_or_uni %>
</p>

<p>
  <strong>House in other:</strong>
  <%= @subscription.house_in_other %>
</p>

<p>
  <strong>Museum type art museum:</strong>
  <%= @subscription.museum_type_art_museum %>
</p>

<p>
  <strong>Museum type modern art museum:</strong>
  <%= @subscription.museum_type_modern_art_museum %>
</p>

<p>
  <strong>Museum type natural history museum:</strong>
  <%= @subscription.museum_type_natural_history_museum %>
</p>

<p>
  <strong>Museum type science museum or machinery museum:</strong>
  <%= @subscription.museum_type_science_museum_or_machinery_museum %>
</p>

<p>
  <strong>Museum type anthropology museum:</strong>
  <%= @subscription.museum_type_anthropology_museum %>
</p>

<p>
  <strong>Museum type history and archaeology museum:</strong>
  <%= @subscription.museum_type_history_and_archaeology_museum %>
</p>

<p>
  <strong>Museum type local museum:</strong>
  <%= @subscription.museum_type_local_museum %>
</p>

<p>
  <strong>Museum type university or institute museum:</strong>
  <%= @subscription.museum_type_university_or_institute_museum %>
</p>

<p>
  <strong>Museum type other:</strong>
  <%= @subscription.museum_type_other %>
</p>

<p>
  <strong>Exhibition type permanent collection:</strong>
  <%= @subscription.exhibition_type_permanent_collection %>
</p>

<p>
  <strong>Exhibition type temporary rotated collection:</strong>
  <%= @subscription.exhibition_type_temporary_rotated_collection %>
</p>

<p>
  <strong>Displayed object type pottery:</strong>
  <%= @subscription.displayed_object_type_pottery %>
</p>

<p>
  <strong>Displayed object type natural history:</strong>
  <%= @subscription.displayed_object_type_natural_history %>
</p>

<p>
  <strong>Displayed object type public health medicine:</strong>
  <%= @subscription.displayed_object_type_public_health_medicine %>
</p>

<p>
  <strong>Displayed object type religious:</strong>
  <%= @subscription.displayed_object_type_religious %>
</p>

<p>
  <strong>Displayed object type archaeology:</strong>
  <%= @subscription.displayed_object_type_archaeology %>
</p>

<p>
  <strong>Displayed object type history:</strong>
  <%= @subscription.displayed_object_type_history %>
</p>

<p>
  <strong>Displayed object type way of life local wisdom:</strong>
  <%= @subscription.displayed_object_type_way_of_life_local_wisdom %>
</p>

<p>
  <strong>Displayed object type historical house building:</strong>
  <%= @subscription.displayed_object_type_historical_house_building %>
</p>

<p>
  <strong>Displayed object type textile clothing:</strong>
  <%= @subscription.displayed_object_type_textile_clothing %>
</p>

<p>
  <strong>Displayed object type performance arts:</strong>
  <%= @subscription.displayed_object_type_performance_arts %>
</p>

<p>
  <strong>Displayed object type tribes:</strong>
  <%= @subscription.displayed_object_type_tribes %>
</p>

<p>
  <strong>Displayed object type biography:</strong>
  <%= @subscription.displayed_object_type_biography %>
</p>

<p>
  <strong>Displayed object type architecture:</strong>
  <%= @subscription.displayed_object_type_architecture %>
</p>

<p>
  <strong>Displayed object type military war:</strong>
  <%= @subscription.displayed_object_type_military_war %>
</p>

<p>
  <strong>Displayed object type science and technology:</strong>
  <%= @subscription.displayed_object_type_science_and_technology %>
</p>

<p>
  <strong>Displayed object type other:</strong>
  <%= @subscription.displayed_object_type_other %>
</p>

<p>
  <strong>Current website:</strong>
  <%= @subscription.current_website %>
</p>

<%#= link_to 'Edit', edit_subscription_path(@subscription) %> 
<%= link_to 'Back', root_path %>
