<div class="container" id="div_news">
<p id="notice"><%= notice %></p>

<h4>
  <%= @museum_owner.subscription.org_name_eng %>
  <%="  " + @museum_owner.subscription.org_name_thai %>
</h4>

<p>
  <%= image_tag @museum_owner.subscription.avatar.url, class: "museum_cover_photo", alt: "Card Image Cap" %>
</p>

  <%= @museum_owner.subscription.detail.html_safe %>

<%= link_to 'Back', emuseum_index_url %>

</div>