<p id="notice"><%= notice %></p>

<p>
  <strong>Organization Name in English</strong>
  <%= @museum_owner.subscription.org_name_eng %>
</p>

<p>
  <strong>Organization Name in Thai</strong>
  <%= @museum_owner.subscription.org_name_thai %>
</p>

<p>
  <%= image_tag @museum_owner.subscription.avatar.url, class: "museum_cover_photo", alt: "Card Image Cap" %>
</p>

<p>
  <strong>Blocked:</strong>
  <%= @museum_owner.blocked %>
</p>

<%= link_to 'Back', emuseum_index_url %>
