<!--Slideshow +Start+-->

			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			  <ol class="carousel-indicators">
			    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			  </ol>

			  <div class="carousel-inner" role="listbox">
			    <div class="carousel-item active">
			      <%= image_tag("1.jpg", class: "d-block img-fluid main_slide_show_img", alt: "First Slide") %>
			    </div>
			    <div class="carousel-item">
			      <%= image_tag("2.jpg", class: "d-block img-fluid main_slide_show_img", alt: "Second Slide") %>
			    </div>
			    <div class="carousel-item">
			      <%= image_tag("3.jpg", class: "d-block img-fluid main_slide_show_img", alt: "Third Slide") %>
			    </div>
			  </div>
			  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    
			    <span class="sr-only">Next</span>
			  </a>
			</div>
<!--Slideshow +End+-->

<!-- Card +Start+-->
		<div class="container" id="card_body">
			<h2>Recently Joined Museum</h2>
			<div class = "row">
				<div class= "col-sm-4">
					<div class="card" >
					  <%= image_tag("subdomain_emuseum/cmru.jpg", class: "card-img-top recently_join_card", alt: "Card Image Cap") %>
					  <div class="card-block">
					    <h4 class="card-title">CMRU Museum</h4>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
				<div class= "col-sm-4">
					<div class="card">
					  <%= image_tag("subdomain_emuseum/treasury.jpg", class: "card-img-top recently_join_card", alt: "Card Image Cap")%>
					  <div class="card-block">
					    <h4 class="card-title">Treasury Museum</h4>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
				<div class= "col-sm-4">
					<div class="card" >
					  <%= image_tag("subdomain_emuseum/watsaimoon.jpg", class: "card-img-top recently_join_card", alt: "Card Image Cap")%>
					  <div class="card-block">
					    <h4 class="card-title">Watsaimoon Museum</h4>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. </p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
			</div>
		</div>
	<!-- Card +End+-->
	<br><br>