    <br><br> 
      <div class="container" id="card_body">
      
      <% @museumowner.each do |sub| %>
      		
      		<% if @i % 3 == 0 %>
      			<div class = "row">
      		<% end %>
			
				<div class= "col-sm-4">
					<div class="card" >
					  <%= image_tag sub.subscription.avatar.url, class: "card-img-top recently_join_card", alt: "Card Image Cap" %>
					  <div class="card-block">
					    <h4><%= sub.subscription.org_name_eng %></h4>
					    <% unless sub.subscription.detail.nil? %>
					    <p class="card-text"><%= sub.subscription.detail.first(100).html_safe %></p>
					    <%end%>
					    
					    <%= link_to 'Read More', sub, class: "btn btn-primary" %>
					  </div>
					</div>
				</div>

			<% if @j % 3 == 2%>
      			</div>
      			<br><br>
      		<% end %>
			<% @i = @i + 1 %>
			<% @j = @j + 1 %>
			
      <% end %>
      </div>
      </div>

<br><br>
<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @museumowner %>
    </div>
    <%= will_paginate @museumowner, :container => false %>
</div>    
