<!DOCTYPE html>
<html>
  <head>
    <title>Emuseum</title>
   <%= render 'shared/required_file' %>
	 <link rel="icon" 
      type="image/ico" 
      href="http://www.iconarchive.com/download/i80399/aha-soft/desktop-halloween/Mask.ico">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<% unless(admin_signed_in?) %>
  	<!--nav bar +start+-->
  		<%= render 'shared/user_navbar' %>
		<!-- nav bar +end+ -->
		<%else%>
		<!--nav bar +start+-->
  		<%= render 'shared/admin_navbar' %>
		<!-- nav bar +end+ -->
		<%end%>

	<!--Devise Flash Massage +Start+-->
	<!--
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>
    -->
	<!--Devise Flash Massage +End+-->

    <%= yield %>

    <!-- footer +Start+ -->
		<%= render 'shared/footer' %>	
	<!-- Footer +End+ -->
  </body>
</html>
